<div class="recent-grid">
    <div class="projects">
        <div class="card">
            <div class="card-header">
                <h3>ACTUALITE</h3>
            </div>
            <div class="card-body">
                <table width="100%">
                    <thead>
                        <tr>
                            <td>TITRE</td>
                            <td>DESCRIPTION</td>
                            <td>SEMAINE</td>
                            <td>EDIT</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% actualites.forEach(function(actualite) { %>
                            <tr>
                                <td><%= actualite.titre %></td>
                                <td><%= actualite.Description %></td>
                                <td><%= actualite.semaine %></td>
                                <td><input type="button" value="EDIT" onclick="edit('<%= actualite._id %>')"></td>
                            </tr>
                          <tr id="editForm<%= actualite._id %>" style="display: none;">
                                <td colspan="4">
                                    <form method="post" class="update-form" action="/Updateactualite/<%= actualite._id %>" style="display: flex; flex-wrap: wrap;">
                                        <input type="hidden" name="_method" value="PUT">
                                        <div style="flex: 1; margin-right: 10px;">
                                            <label for="update-titre">Titre</label>
                                            <input type="text" id="update-titre" name="titre" value="<%= actualite.titre %>">
                                        </div>
                                        <div style="flex: 1; margin-right: 10px;">
                                            <label for="update-description">Description</label>
                                            <input type="text" id="update-description" name="Description" value="<%= actualite.Description %>">
                                        </div>
                                        <div style="flex: 1; margin-right: 10px;">
                                            <label for="update-semaine">Semaine</label>
                                            <input type="text" id="update-semaine" name="semaine" value="<%= actualite.semaine %>">
                                        </div>
                                        <div>
                                            <button onclick="clickRubrique('/Actualite');"type="submit">Update</button>
                                            <button type="button" onclick="edit('<%= actualite._id %>')">Cancel</button>
                                <td><input type="button" value="activate/desactivate" onclick="updateActive('/Activateactualite/<%= actualite._id %>','<%= actualite.activated %>','/Actualite')"></td>

                                        </div>
                                    </form>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>
    <div class="customers">
        <div class="card">
            <div class="card-header">
                <span class="las la-plus-circle"></span>
                <h3>Add New Teacher</h3>
            </div>
            <div class="card-body">
                <div class="box">
                    <form method="post" action="/Postactualite" enctype="multipart/form-data" id="addPresentationForm">
                        <h2>ADD NEW</h2>
                        <div class="inputbox">
                            <input type="text" id="titre" name="titre" placeholder="titre" required>
                            <span>titre</span>
                            <i></i>
                        </div>
                        <div class="inputbox">
                            <input type="text" id="Description" name="Description" placeholder="description" required>
                            <span>description</span>
                            <i></i>
                        </div>
                        <div class="inputbox">
                            <input type="text" id="semaine" name="semaine" placeholder="semaine" required>
                            <span>semaine</span>
                            <i></i>
                        </div>
                        <input type="submit" onclick="clickRubrique('/Actualite');" value="Enregistrer">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
