<div class="recent-grid">
    <div class="projects">
        <div class="card mb-4">
            <div class="card-header">
                <span><img style="width: 50px; height: 50px;" src="/images/actualite.png"></span>

            </div>
            <div class="card-body">
                <table class="table table-bordered table-dark table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>TITRE</th>
                            <th>DESCRIPTION</th>
                            <th>SEMAINE</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% actualites.forEach(function(actualite) { %>
                        <tr>
                            <td><%= actualite.titre %></td>
                            <td><%= actualite.Description %></td>
                            <td><%= actualite.semaine %></td>
                            <td>
                                <div class="form-group mb-2">
                                    <button class="btn  mb-2" onclick="edit('<%= actualite._id %>')">
                                        <img width="40px" style="background-color: white;" height="40px" src="/images/editer.png" alt="">
                                    </button>
                                    
                                    <% if (actualite.activated === true) { %>
                                        <button class=" btn-secondary mb-2" onclick="updateActive('/Activateactualite/<%= actualite._id %>', '<%= actualite.activated %>', '/Actualite')">
                                            <img width="40px" height="40px" src="/images/glissiere.png" alt="">
                                        </button>
                                    <% } else { %>
                                        <button class=" btn-secondary mb-2" onclick="updateActive('/Activateactualite/<%= actualite._id %>', '<%= actualite.activated %>', '/Actualite')">
                                            <img width="40px" height="40px" src="/images/eteindre.png" alt="">
                                        </button>
                                    <% } %>
                            </div>
                                    
                            </td>
                        </tr>
                        <tr id="editForm<%= actualite._id %>" style="display: none;">
                            <td colspan="6">
                                <form method="post" class="update-form" action="/Updateactualite/<%= actualite._id %>" style="display: flex; flex-wrap: wrap;">
                                    <input type="hidden" name="_method" value="PUT">
                                    <div class="form-group mb-2 w-100">
                                        <label for="update-titre">Titre</label>
                                        <input type="text" id="update-titre" name="titre" class="form-control" value="<%= actualite.titre %>">
                                    </div>
                                    <div class="form-group mb-2 w-100">
                                        <label for="update-description">Description</label>
                                        <input type="text" id="update-description" name="Description" class="form-control" value="<%= actualite.Description %>">
                                    </div>
                                    <div class="form-group mb-2 w-100">
                                        <label for="update-semaine">Semaine</label>
                                        <input type="text" id="update-semaine" name="semaine" class="form-control" value="<%= actualite.semaine %>">
                                    </div>
                                    <div class="form-group mb-2 w-100">
                                        <button type="submit" class="btn btn-success btn-block" onclick="clickRubrique('/Actualite');">Update</button>
                                        <button type="button" class="btn btn-danger btn-block" onclick="edit('<%= actualite._id %>')">Cancel</button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="customers">
        <div class="card">
            <div class="card-header">
                <span><img style="width: 50px; height: 50px;" src="/images/form.png"></span>
                <h3>Add New Actualite</h3>
            </div>
            <div class="card-body">
                <form method="post" action="/Postactualite" id="addactualiteForm" enctype="multipart/form-data">
                    <div class="form-group mb-2">
                        <label for="titre">Titre</label>
                        <input type="text" id="titre" name="titre" class="form-control" placeholder="titre" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="Description">Description</label>
                        <input type="text" id="Description" name="Description" class="form-control" placeholder="description" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="semaine">Semaine</label>
                        <input type="text" id="semaine" name="semaine" class="form-control" placeholder="semaine" required>
                    </div>
                    <button type="submit" onclick="clickRubrique('/Actualite');" class="btn btn-primary btn-block">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>
