<div class="recent-grid">
    <div class="projects">
        <div class="card mb-4">
            <div class="card-header">
                <h3>ENSEIGNANTS</h3>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-dark table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>NOM</th>
                            <th>MAIL</th>
                            <th>TELEPHONE</th>
                            <th>DOMAINE EXPERTISE</th>
                            <th>GRADE</th>
                            <th>RESPONSABILITE</th>
                            <th>PHOTO</th>
                            <th>ACTIVATED</th>
                            <th>EDIT</th>
                            <th>ACTIVATE/DEACTIVATE</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% enseignants.forEach(function(enseignant) { %>
                        <tr>
                            <td><%= enseignant.nomComplet %></td>
                            <td><%= enseignant.adresseMail %></td>
                            <td><%= enseignant.telephone %></td>
                            <td><%= enseignant.domainesExpertise %></td>
                            <td><%= enseignant.grade %></td>
                            <td><%= enseignant.responsabilite %></td>
                            <td><img src="<%= enseignant.Image %>" alt="Image" class="img-fluid" style="max-width: 100px;"></td>
                            <td><%= enseignant.activated %></td>
                            <td>
                                <button class="btn btn-primary mb-2" onclick="edit('<%= enseignant._id %>')">EDIT</button>
                            </td>
                            <td>
                                <button class="btn btn-secondary mb-2" onclick="updateActive('/Activateenseignant/<%= enseignant._id %>', '<%= enseignant.activated %>', '/Enseignant')">Activate/Deactivate</button>
                            </td>
                        </tr>
                        <tr id="editForm<%= enseignant._id %>" style="display: none;">
                            <td colspan="10">
                                <form method="post" class="update-form" action="/Updateenseignant/<%= enseignant._id %>" style="display: flex; flex-wrap: wrap;">
                                    <input type="hidden" name="_method" value="PUT">
                                    <div class="form-group mb-2 w-100">
                                        <label for="update-nomComplet">Nom Complet</label>
                                        <input type="text" id="update-nomComplet" name="nomComplet" class="form-control" value="<%= enseignant.nomComplet %>">
                                    </div>
                                    <div class="form-group mb-2 w-100">
                                        <label for="update-adresseMail">Adresse Mail</label>
                                        <input type="text" id="update-adresseMail" name="adresseMail" class="form-control" value="<%= enseignant.adresseMail %>">
                                    </div>
                                    <div class="form-group mb-2 w-100">
                                        <label for="update-telephone">Téléphone</label>
                                        <input type="text" id="update-telephone" name="telephone" class="form-control" value="<%= enseignant.telephone %>">
                                    </div>
                                    <div class="form-group mb-2 w-100">
                                        <label for="update-domainesExpertise">Domaines Expertise</label>
                                        <input type="text" id="update-domainesExpertise" name="domainesExpertise" class="form-control" value="<%= enseignant.domainesExpertise %>">
                                    </div>
                                    <div class="form-group mb-2 w-100">
                                        <label for="update-grade">Grade</label>
                                        <input type="text" id="update-grade" name="grade" class="form-control" value="<%= enseignant.grade %>">
                                    </div>
                                    <div class="form-group mb-2 w-100">
                                        <label for="update-responsabilite">Responsabilité</label>
                                        <input type="text" id="update-responsabilite" name="responsabilite" class="form-control" value="<%= enseignant.responsabilite %>">
                                    </div>
                                    <div class="form-group mb-2 w-100">
                                        <button type="submit" class="btn btn-success btn-block" onclick="clickRubrique('/Enseignant');">Update</button>
                                        <button type="button" class="btn btn-danger btn-block" onclick="edit('<%= enseignant._id %>')">Cancel</button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="customers">
        <div class="card">
            <div class="card-header">
                <span class="las la-plus-circle"></span>
                <h3>Add New Enseignant</h3>
            </div>
            <div class="card-body">
                <form method="post" action="/Postenseignant" enctype="multipart/form-data" id="addPresentationForm">
                    <div class="form-group mb-2">
                        <label for="nomComplet">Nom Complet</label>
                        <input type="text" id="nomComplet" name="nomComplet" class="form-control" placeholder="Nom Complet" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="adresseMail">Adresse Mail</label>
                        <input type="text" id="adresseMail" name="adresseMail" class="form-control" placeholder="Adresse Mail" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="telephone">Téléphone</label>
                        <input type="text" id="telephone" name="telephone" class="form-control" placeholder="Téléphone" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="domainesExpertise">Domaines Expertise</label>
                        <input type="text" id="domainesExpertise" name="domainesExpertise" class="form-control" placeholder="Domaines Expertise" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="grade">Grade</label>
                        <input type="text" id="grade" name="grade" class="form-control" placeholder="Grade" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="responsabilite">Responsabilité</label>
                        <input type="text" id="responsabilite" name="responsabilite" class="form-control" placeholder="Responsabilité" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="Image">Image Profil</label>
                        <input type="file" id="Image" name="Image" class="form-control" required>
                    </div>
                    <button type="submit" onclick="clickRubrique('/Enseignant');" class="btn btn-primary btn-block">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>
