<div class="recent-grid">
    <div class="projects">
        <div class="card">
            <div class="card-header">
                <h3>FORMATIONS</h3>
            </div>
            <div class="card-body">
                <table width="100%">
                    <thead>
                        <tr>
                            <td>TITRE</td>
                            <td>PRESENTATION</td>
                            <td>ADMISSION</td>
                            <td>PARCOURS</td>
                            <td>PARCOURS IMAGE</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% formations.forEach(function(formation) { %>
                            <tr>
                                <td><%= formation.titre %></td>
                                <td><%= formation.presentation %></td>
                                <td><%= formation.admission %></td>
                                <td><%= formation.parcours %></td>
                                <td><img src="<%= formation.Image %>" alt="Image" width="100"></td>

                                <td><input type="button" value="EDIT" onclick="edit('<%= formation._id %>')"></td>
                            </tr>
                            <tr id="editForm<%= formation._id %>" style="display: none;">
                                <td colspan="4">
                                    <form method="post" class="update-form" action="/Updateformation/<%= formation._id %>">
                                        <input type="hidden" name="_method" value="PUT">
                                        <div>
                                            <input type="text"name="titre" value="<%= formation.titre %>">
                                        </div>
                                        <div>
                                            <input type="text" name="presentation" value="<%= formation.presentation %>">
                                        </div>
                                        <div>
                                            <input type="text"  name="admission" value="<%= formation.admission %>">
                                        </div>
                                        <div>
                                            <input type="text"  name="parcours value="<%= formation.parcours %>">
                                        </div>
                                       
                                        <div>
                                            <input type="submit" onclick="clickRubrique('/Formation');" value="update">
                                            <button type="button" onclick="edit('<%= formation._id %>')">Cancel</button>
                                <td><input type="button" value="activate/desactivate" onclick="updateActive('/Activateformation/<%= formation._id %>','<%= formation.activated %>','/Formation')"></td>


                                        </div>
                                    </form>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="customers">
        <div class="card">
            <div class="card-header">
                <span class="las la-plus-circle"></span>
                <h3>Add New Teacher</h3>
            </div>
            <div class="card-body">
                <div class="box">
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                        sendDataViaAjax('addPresentationForm', '/Postformation', function(error, response) {
        
                            });
                        });
                    </script>
                    <form method="post" action="/Postformation"  enctype="multipart/form-data" id="addPresentationForm">
                        <h2>ADD NEW</h2>
                        <div class="inputbox">
                            <input type="text" id="titre" name="titre" placeholder="titre" required>
                            <span>titre</span>
                            <i></i>
                        </div>
                        <div class="inputbox">
                            <input type="text" id="presentation" name="presentation" placeholder="presentation" required>
                            <span>presentation</span>
                            <i></i>
                        </div>
                        <div class="inputbox">
                            <input type="text" id="admission" name="admission" placeholder="admission" required>
                            <span>admission</span>
                            <i></i>
                        </div>
                        <div class="inputbox">
                            <input type="text" id="parcours" name="parcours" placeholder="parcours" required>
                            <span>parcours</span>
                            <i></i>
                        </div>
                        <div class="inputbox">
                            <input type="file" id="Image" name="Image" placeholder="parcoursImage" required>
                            <span>parcoursImage</span>
                            <i></i>
                        </div>
                        <input type="submit" onclick="clickRubrique('/Formation');" value="Enregistrer">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
