<div class="recent-grid">
    <div class="projects">
        <div class="card mb-4">
            <div class="card-header">
                <h3>FORMATIONS</h3>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-dark table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>TITRE</th>
                            <th>PRESENTATION</th>
                            <th>ADMISSION</th>
                            <th>PARCOURS</th>
                            <th>PARCOURS IMAGE</th>
                            <th>ACTIVATED</th>
                            <th>ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% formations.forEach(function(formation) { %>
                        <tr>
                            <td><%= formation.titre %></td>
                            <td><%= formation.presentation %></td>
                            <td><%= formation.admission %></td>
                            <td><%= formation.parcours %></td>
                            <td><img src="<%= formation.Image %>" alt="Image" class="img-fluid" style="max-width: 100px;"></td>
                            <td><%= formation.activated %></td>
                            <td>
                                <div class="form-group mb-2">

                                <button class="btn btn-primary mb-2" onclick="edit('<%= formation._id %>')"><span class="las la-edit"></span>EDIT</button>
                            
                                <button class="btn btn-secondary mb-2" onclick="updateActive('/Activateformation/<%= formation._id %>', '<%= formation.activated %>', '/Formation')">Deactivate</button>
                                    </div>
                            </td>
                        </tr>
                        <tr id="editForm<%= formation._id %>" style="display: none;">
                            <td colspan="8">
                                <form method="post" class="update-form" action="/Updateformation/<%= formation._id %>" style="display: flex; flex-wrap: wrap;">
                                    <input type="hidden" name="_method" value="PUT">
                                    <div class="form-group mb-2 w-100">
                                        <label for="update-titre">Titre</label>
                                        <input type="text" id="update-titre" name="titre" class="form-control" value="<%= formation.titre %>">
                                    </div>
                                    <div class="form-group mb-2 w-100">
                                        <label for="update-presentation">Présentation</label>
                                        <input type="text" id="update-presentation" name="presentation" class="form-control" value="<%= formation.presentation %>">
                                    </div>
                                    <div class="form-group mb-2 w-100">
                                        <label for="update-admission">Admission</label>
                                        <input type="text" id="update-admission" name="admission" class="form-control" value="<%= formation.admission %>">
                                    </div>
                                    <div class="form-group mb-2 w-100">
                                        <label for="update-parcours">Parcours</label>
                                        <input type="text" id="update-parcours" name="parcours" class="form-control" value="<%= formation.parcours %>">
                                    </div>
                                    <div class="form-group mb-2 w-100">
                                        <button type="submit" class="btn btn-success btn-block" onclick="clickRubrique('/Formation');">Update</button>
                                        <button type="button" class="btn btn-danger btn-block" onclick="edit('<%= formation._id %>')">Cancel</button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="customers">
        <div class="card">
            <div class="card-header">
                <span class="las la-plus-circle"></span>
                <h3>Add New Formation</h3>
            </div>
            <div class="card-body">
                <form method="post" action="/Postformation" enctype="multipart/form-data" id="addPresentationForm">
                    <div class="form-group mb-2">
                        <label for="titre">Titre</label>
                        <input type="text" id="titre" name="titre" class="form-control" placeholder="titre" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="presentation">Présentation</label>
                        <input type="text" id="presentation" name="presentation" class="form-control" placeholder="présentation" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="admission">Admission</label>
                        <input type="text" id="admission" name="admission" class="form-control" placeholder="admission" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="parcours">Parcours</label>
                        <input type="text" id="parcours" name="parcours" class="form-control" placeholder="parcours" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="Image">Parcours Image</label>
                        <input type="file" id="Image" name="Image" class="form-control" required>
                    </div>
                    <button type="submit" onclick="clickRubrique('/Formation');" class="btn btn-primary btn-block">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>
