<div class="container mt-5">
    <div class="row">
        <!-- Main column for displaying historiques -->
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-header">
                    <h3>HISTORIQUE</h3>
                </div>
                <div class="card-body">
                    <table class="table table-bordered table-dark table-striped table-hover">
                        <thead class="thead-dark">
                            <tr>
                                <th>DESCRIPTION</th>
                                <th>IMAGE</th>
                                <th>ACTIVATED</th>
                                <th>ACTIONS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% historiques.forEach(function(historique) { %>
                                <tr>
                                    <td><%= historique.Description %></td>
                                    <td><img src="<%= historique.Image %>" alt="Image" class="rounded mx-auto d-block" style="max-width: 100px;"></td>
                                    <td><%= historique.activated %></td>
                                    <td>
                                        <div class="form-group mb-2">
                                            <button class="btn btn-primary mb-2" onclick="edit('<%= historique._id %>')"><span class="las la-edit"></span>EDIT</button>
                                            <button class="btn btn-secondary mb-2" onclick="updateActive('/Activatehistorique/<%= historique._id %>', '<%= historique.activated %>', '/Historique')">Deactivate</button>
                                        </div>
                                    </td>
                                </tr>

                                <!-- Hidden edit form for each historique -->
                                <tr id="editForm<%= historique._id %>" style="display: none;">
                                    <td colspan="4">
                                        <form method="post" class="update-form" action="/Updatehistorique/<%= historique._id %>">
                                            <input type="hidden" name="_method" value="PUT">
                                            <div class="form-group mb-2 w-100">
                                                <label for="update-description">Description</label>
                                                <input type="textarea" id="update-description" name="Description" class="form-control" value="<%= historique.Description %>">
                                            </div>
                                            <div class="form-group mb-2 w-100">
                                                <button type="submit" class="btn btn-success btn-block" onclick="clickRubrique('/Historique');">Update</button>
                                                <button type="button" class="btn btn-danger btn-block" onclick="edit('<%= historique._id %>')">Cancel</button>
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <!-- Sidebar column for adding new historique -->
        <div class="col-lg-4">
            <div class="card">
                <div class="card-header">
                    <span class="las la-plus-circle"></span>
                    <h3>Add New Historique</h3>
                </div>
                <div class="card-body">
                    <form method="post" action="/Posthistorique" id="addPresentationForm" enctype="multipart/form-data">
                        <div class="form-group mb-2">
                            <label for="Description">Description</label>
                            <input type="text" id="Description" name="Description" class="form-control" placeholder="Description" required>
                        </div>
                        <div class="form-group mb-2">
                            <label for="Image">Image</label>
                            <input type="file" id="Image" name="Image" class="form-control" required>
                        </div>
                        <button type="submit"  onclick="clickRubrique('/Historique');" class="btn btn-primary btn-block">Enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


