<div class="recent-grid">
    <div class="projects">
        <div class="card">
            <div class="card-header">
                <h3>HISTORIQUE</h3>
            </div>
            <div class="card-body">
                <table width="100%">
                    <thead>
                        <tr>
                            <td>DESCRIPTION</td>
                            <td>IMAGE</td>
                            <td>ACTIVATED</td>
                        </tr>
                    </thead>
                    <tbody>
                        <% historiques.forEach(function(historique) { %>
                            <tr>
                                <td><%= historique.Description %></td>
                                <td><img src="<%= historique.Image %>" alt="Image" width="100"></td>
                                <td><%= historique.activated %></td>

                                <td><input type="button" value="EDIT" onclick="edit('<%= historique._id %>')"></td>

                            </tr>

                            <tr id="editForm<%= historique._id %>" style="display: none;">
                                <td colspan="4">
                                    <form method="post" class="update-form" action="/Updatehistorique/<%= historique._id %>" style="display: flex; flex-wrap: wrap;">
                                        <input type="hidden" name="_method" value="PUT">
                                        <div style="flex: 1; margin-right: 10px;">
                                            <label for="update-description">Description</label>
                                            <input type="text" id="update-description" name="Description" value="<%= historique.Description %>">
                                        </div>
                                      
                                        <div>
                                            <button onclick="clickRubrique('/Historique');"type="submit">Update</button>
                                            <button type="button" onclick="edit('<%= historique._id %>')">Cancel</button>
                                <td><input type="button" value="activate/desactivate" onclick="updateActive('/Activatehistorique/<%= historique._id %>','<%= historique.activated %>','/Historique')"></td>

                                        </div>
                                    </form>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="customers">
        <div class="card">
            <div class="card-header">
                <span class="las la-plus-circle"></span>
                <h3>Add New Historique</h3>
            </div>
            <div class="card-body">
                <div class="box">
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                            sendDataViaAjax('addPresentationForm', '/Posthistorique', function(error, response) {
                                // handle response
                            });
                        });
                    </script>
                    <form method="post" action="/Posthistorique" id="addPresentationForm" enctype="multipart/form-data">
                        <h2>ADD NEW</h2>
                        <div class="inputbox">
                            <input type="text" id="Description" name="Description" placeholder="Description" required>
                            <span>Description</span>
                            <i></i>
                        </div>
                        <div class="inputbox">
                            <input type="file" id="Image" name="Image" required>
                            <span>Image</span>
                            <i></i>
                        </div>
                        <input type="submit" onclick="clickRubrique('/Historique');" value="Enregistrer">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
