<div class="recent-grid">
    <div class="projects">
        <div class="card mb-4">
            <div class="card-header">
                <span><img style="width: 70px; height: 70px;" src="/images/mission.png"></span>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-dark table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>DESCRIPTION</th>
                            <th>IMAGE</th>
                            <th>ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% missions.forEach(function(mission) { %>
                        <tr>
                            <td><%= mission.Description %></td>
                            <td><img src="<%= mission.Image %>" alt="Image" class="img-fluid" style="max-width: 100px;"></td>
                            <td>
                                <div class="form-group mb-2">

                                    <button class="btn  mb-2" onclick="edit('<%= mission._id %>')">
                                        <img width="40px" style="background-color: white;" height="40px" src="/images/editer.png" alt="">
                                    </button>
                                    
                                    <% if (mission.activated === true) { %>
                                        <button class=" btn-secondary mb-2" onclick="updateActive('/Activatemission/<%= mission._id %>', '<%= mission.activated %>', '/Mission')">
                                            <img width="40px" height="40px" src="/images/glissiere.png" alt="">
                                        </button>
                                    <% } else { %>
                                        <button class=" btn-secondary mb-2" onclick="updateActive('/Activatemission/<%= mission._id %>', '<%= mission.activated %>', '/Mission')">
                                            <img width="40px" height="40px" src="/images/eteindre.png" alt="">
                                        </button>
                                    <% } %>
                            </div>
                            </td>
                        </tr>
                        <tr id="editForm<%= mission._id %>" style="display: none;">
                            <td colspan="5">
                                <form method="post" class="update-form" action="/Updatemission/<%= mission._id %>" style="display: flex; flex-wrap: wrap;">
                                    <input type="hidden" name="_method" value="PUT">
                                    <div class="form-group mb-2 w-100">
                                        <label for="update-description">Description</label>
                                        <input type="text" id="update-description" name="Description" class="form-control" value="<%= mission.Description %>">
                                    </div>
                                    <div class="form-group mb-2 w-100">
                                        <button type="submit" class="btn btn-success btn-block" onclick="clickRubrique('/Mission');">Update</button>
                                        <button type="button" class="btn btn-danger btn-block" onclick="edit('<%= mission._id %>')">Cancel</button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="customers">
        <div class="card">
            <div class="card-header">
                <span><img style="width: 50px; height: 50px;" src="/images/form.png"></span>
                <h3>Add New Mission</h3>
            </div>
            <div class="card-body">
                <form method="post" enctype="multipart/form-data" action="/Postmission" id="addmissionForm">
                    <div class="form-group mb-2">
                        <label for="Description">Description</label>
                        <input type="text" id="Description" name="Description" class="form-control" placeholder="Description" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="Image">Image</label>
                        <input type="file" id="Image" name="Image" class="form-control" required>
                    </div>
                    <button type="submit" onclick="clickRubrique('/Mission');" class="btn btn-primary btn-block">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>
