<div class="recent-grid">
    <div class="projects">
        <div class="card">
            <div class="card-header">
                <h3>MISSION</h3>
            </div>
            <div class="card-body">
                <table width="100%">
                    <thead>
                        <tr>
                            <td>DESCRIPTION</td>
                            <td>IMAGE</td>
                           
                        </tr>
                    </thead>
                    <tbody>
                        <% missions.forEach(function(mission) { %>
                            <tr>
                                <td><%= mission.Description %></td>

                                <td><img src="<%= mission.Image %>" alt="Image" width="100"></td>
                                <td><input type="button" value="EDIT" onclick="edit('<%= mission._id %>')"></td>

                            </tr>

                            <tr id="editForm<%= mission._id %>" style="display: none;">
                                <td colspan="4">
                                    <form method="post" class="update-form" action="/Updatemission/<%= mission._id %>" style="display: flex; flex-wrap: wrap;">
                                        <input type="hidden" name="_method" value="PUT">
                                        <div style="flex: 1; margin-right: 10px;">
                                            <label for="update-description">Description</label>
                                            <input type="text" id="update-description" name="Description" value="<%= mission.Description %>">
                                        </div>
                                      
                                        <div>
                                            <button onclick="clickRubrique('/Mission');"type="submit">Update</button>
                                            <button type="button" onclick="edit('<%= mission._id %>')">Cancel</button>
                                <td><input type="button" value="activate/desactivate" onclick="updateActive('/Activatemission/<%= mission._id %>','<%= mission.activated %>','/Mission')"></td>

                                        </div>
                                    </form>
                                </td>
                            </tr>

                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="customers">
        <div class="card">
            <div class="card-header">
                <span class="las la-plus-circle"></span>
                <h3>Add New Historique</h3>
            </div>
            <div class="card-body">
                <div class="box">
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                        sendDataViaAjax('addPresentationForm', '/Postmission', function(error, response) {
        
                            });
                        });
                    </script>
                    <form method="post" enctype="multipart/form-data" action="/Postmission" id="addPresentationForm">
                        <h2>ADD NEW</h2>
                        <div class="inputbox">
                            <input type="text" id="Description" name="Description" placeholder="Description" required>
                            <span>Description</span>
                            <i></i>
                        </div>
                        <div class="inputbox">
                            <input type="file" id="Image" name="Image" placeholder="Image URL" required>
                            <span>Image</span>
                            <i></i>
                        </div>
                       
                        <input type="submit" onclick="clickRubrique('/Mission');" value="Enregistrer">
                    </form>
                </div>
            </div>
        </div>
    </div>
