<div class="recent-grid">
    <div class="projects">
        <div class="card">
            <div class="card-header">
                <h3>PRESENTATION</h3>
            </div>
            <div class="card-body">
                <table width="100%">
                    <thead>
                        <tr>
                            <td>DESCRIPTION</td>
                            <td>IMAGE</td>
                            <td>ACTIVATED</td>

                           
                        </tr>
                    </thead>
                    <tbody>
                        <% presentations.forEach(function(presentation) { %>
                            <tr>
                                <td><%= presentation.Description %></td>
                                <td><img src="<%= presentation.Image %>" alt="Image" width="100"></td>
                                <td><%= presentation.activated %></td>

                                <td><input type="button" value="EDIT" onclick="edit('<%= presentation._id %>')"></td>


                            </tr>

                            <tr id="editForm<%= presentation._id %>" style="display: none;">
                                <td colspan="4">
                                    <form method="post" class="update-form" action="/Updatepresentation/<%= presentation._id %>" style="display: flex; flex-wrap: wrap;">
                                        <input type="hidden" name="_method" value="PUT">
                                        <div style="flex: 1; margin-right: 10px;">
                                            <label for="update-description">Description</label>
                                            <input type="text" id="update-description" name="Description" value="<%= presentation.Description %>">
                                        </div>
                                      
                                        <div>
                                            <button onclick="clickRubrique('/Presentation');"type="submit">Update</button>
                                            <button type="button" onclick="edit('<%= presentation._id %>')">Cancel</button>
                                <td><input type="button" value="activate/desactivate" onclick="updateActive('/Activatepresentation/<%= presentation._id %>','<%= presentation.activated %>','/Presentation')"></td>


                                        </div>
                                    </form>
                                </td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="customers">
        <div class="card">
            <div class="card-header">
                <span class="las la-plus-circle"></span>
                <h3>Add New Historique</h3>
            </div>
            <div class="card-body">
                <div class="box">
                    <script>
                        document.addEventListener('DOMContentLoaded', function() {
                        sendDataViaAjax('addPresentationForm', '/Postpresentation', function(error, response) {
        
                            });
                        });
                    </script>
                    <form method="post" enctype="multipart/form-data" action="/Postpresentation" id="addPresentationForm">
                        <h2>ADD NEW</h2>
                        <div class="inputbox">
                            <input type="text" id="Description" name="Description" placeholder="Description" required>
                            <span>Description</span>
                            <i></i>
                        </div>
                        <div class="inputbox">
                            <input type="file" id="Image" name="Image" placeholder="Image URL" required>
                            <span>Image</span>
                            <i></i>
                        </div>
                       
                        <input type="submit" onclick="clickRubrique('/Presentation');" value="Enregistrer">
                    </form>
                </div>
            </div>
        </div>
    </div>
