<div class="recent-grid">
    <div class="projects">
        <div class="card mb-4">
            <div class="card-header">
                <span><img style="width: 70px; height: 70px;" src="/images/realisation.png"></span>
            </div>
            <div class="card-body">
                <table class="table table-bordered table-dark table-striped table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>TITRE</th>
                            <th>ANNEE</th>
                            <th>DESCRIPTION</th>
                            <th>ACTIONS</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% realisations.forEach(function(realisation) { %>
                        <tr>
                            <td><%= realisation.titre %></td>
                            <td><%= realisation.annee %></td>
                            <td><%= realisation.Description %></td>
                            <td>
                                <div class="form-group mb-2">
                                    <button class="btn  mb-2" onclick="edit('<%= realisation._id %>')">
                                        <img width="40px" style="background-color: white;" height="40px" src="/images/editer.png" alt="">
                                    </button>
                                    
                                    <% if (realisation.activated === true) { %>
                                        <button class=" btn-secondary mb-2" onclick="updateActive('/Activaterealisation/<%= realisation._id %>', '<%= realisation.activated %>', '/Realisation')">
                                            <img width="40px" height="40px" src="/images/glissiere.png" alt="">
                                        </button>
                                    <% } else { %>
                                        <button class=" btn-secondary mb-2" onclick="updateActive('/Activaterealisation/<%= realisation._id %>', '<%= realisation.activated %>', '/Realisation')">
                                            <img width="40px" height="40px" src="/images/eteindre.png" alt="">
                                        </button>
                                    <% } %>
                                </div>
                            </td>
                        </tr>
                        <tr id="editForm<%= realisation._id %>" style="display: none;">
                            <td colspan="6">
                                <form method="post" class="update-form" action="/Updaterealisation/<%= realisation._id %>" style="display: flex; flex-wrap: wrap;">
                                    <input type="hidden" name="_method" value="PUT">
                                    <div class="form-group mb-2 w-100">
                                        <label for="update-titre">Titre</label>
                                        <input type="text" id="update-titre" name="titre" class="form-control" value="<%= realisation.titre %>">
                                    </div>
                                    <div class="form-group mb-2 w-100">
                                        <label for="update-annee">Annee</label>
                                        <input type="text" id="update-annee" name="annee" class="form-control" value="<%= realisation.annee %>">
                                    </div>
                                    <div class="form-group mb-2 w-100">
                                        <label for="update-description">Description</label>
                                        <input type="text" id="update-description" name="Description" class="form-control" value="<%= realisation.Description %>">
                                    </div>
                                    <div class="form-group mb-2 w-100">
                                        <button type="submit" class="btn btn-success btn-block" onclick="clickRubrique('/Realisation');">Update</button>
                                        <button type="button" class="btn btn-danger btn-block" onclick="edit('<%= realisation._id %>')">Cancel</button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="customers">
        <div class="card">
            <div class="card-header">
                <span><img style="width: 50px; height: 50px;" src="/images/form.png"></span>
                <h3>Add New Realisation</h3>
            </div>
            <div class="card-body">
                <form method="post" action="/Postrealisation" enctype="multipart/form-data" id="addrealisationForm">
                    <div class="form-group mb-2">
                        <label for="titre">Titre</label>
                        <input type="text" id="titre" name="titre" class="form-control" placeholder="titre" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="annee">Annee</label>
                        <input type="text" id="annee" name="annee" class="form-control" placeholder="annee" required>
                    </div>
                    <div class="form-group mb-2">
                        <label for="Description">Description</label>
                        <input type="text" id="Description" name="Description" class="form-control" placeholder="description" required>
                    </div>
                    <button type="submit" onclick="clickRubrique('/Realisation');" class="btn btn-primary btn-block">Enregistrer</button>
                </form>
            </div>
        </div>
    </div>
</div>
